In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import sweetviz as sv
import dtale

In [2]:
df = pd.read_csv('Data/wine_cleared.csv')

In [3]:
df.points.min()

80

In [4]:
df.price.min()

4.0

In [5]:
import statistics

In [6]:
round(statistics.mean(df.price), 2)

35.36

In [7]:
mean = sum(df['price']) / len(df['price'])
mean

35.36338912999136

In [8]:
round(statistics.median(df.price), 2)

28.0

In [9]:
count_price = len(df['price']) # количество записей цен
sorted_price = sorted(df['price']) # отсортированные цены

if count_price % 2: # при нечетном кол-ве элементов выбираем средний по индексу 
    median = sorted_price[round(0.5*(count_price-1))]
else: # при четном кол-ве элементов выбираем 2 средних по индексу и считаем между ними среднее арифметическое
    index = sorted(x), round(0.5 * count_price)
    median_ = 0.5 * (sorted_price[index-1] + sorted_price[index])
median

28.0

In [10]:
mode = round(df["price"].value_counts().index[0],2)
mode

35.36

In [11]:
df.corr()

            Unnamed: 0    points     price
Unnamed: 0    1.000000  0.007124  0.004652
points        0.007124  1.000000  0.402137
price         0.004652  0.402137  1.000000

In [12]:
import matplotlib.pyplot as plt # библиотека визуализации
from scipy import stats # библиотека для расчетов

plt.subplot(1, 2, 1) # задаем сетку рисунка количество строк и столбцов
stats.probplot(df['price'], plot=plt) # qq plot

plt.subplot(1, 2, 2) # располагаем второй рисунок рядом
plt.hist(df['price']) # гистограмма распределения признака

plt.tight_layout() # чтобы графики не наезжали другу на друга, используем tight_layout

plt.show() # просмотр графика

findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.
findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.
C:\Users\evgen\AppData\Local\Temp\ipykernel_8064\3832664210.py:12: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [13]:
plt.subplot(1, 2, 1) # задаем сетку рисунка количество строк и столбцов
stats.probplot(df['points'], plot=plt) # qq plot

plt.subplot(1, 2, 2) # располагаем второй рисунок рядом
plt.hist(df['points']) # гистограмма распределения признака

plt.tight_layout() # чтобы графики не наезжали другу на друга, используем tight_layout

plt.show() # просмотр графика

C:\Users\evgen\AppData\Local\Temp\ipykernel_8064\3263140267.py:9: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [14]:
df.corr(method = 'spearman')

            Unnamed: 0    points     price
Unnamed: 0    1.000000  0.009378  0.003751
points        0.009378  1.000000  0.581095
price         0.003751  0.581095  1.000000

In [15]:
df.corr(method = 'kendall')

            Unnamed: 0    points     price
Unnamed: 0    1.000000  0.006536  0.002533
points        0.006536  1.000000  0.433498
price         0.002533  0.433498  1.000000

In [16]:
from sklearn.metrics import matthews_corrcoef

x = [+1, -1, +1, +1] # список значений признака х
y = [+1, +1, +1, -1] # список значений признака y

matthews_corrcoef(x, y) # рассчитаем коэффициент корреляции Мэтьюса

-0.3333333333333333